# Ignore everything
*

# But not these directories...
!data/
!db/
!db/adapter/
!gui/
!gui/icon/
!gui/locale/

# And not these files...
!.gitignore

!*.py
!gui/icon/*.png

# But definitely these...
.DS_Store
