# Ignore everything
*

# But not these directories...
!db/
!db/adapter/
!db/adapter/scripts/
!db/adapter/scripts/sqlite/

!gui/
!gui/icon/
!gui/locale/

!model/
!model/constants

!screenshots/

# And not these files...
!.gitignore

!*.py
!*.sql
!gui/icon/*.png

!README.md
!screenshots/*.png

# But definitely these...
.DS_Store